@white: #ffffff;
@gray: #989898;
@gray-light: #d8d8d8;
@gray-dark: #525252;

*, ::after, ::before {
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

input {
  font-size: 14px;
}

button {
  font-size: 14px;
}

.flex {
  display: flex !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.ml {
  margin-left: 10px !important;
}

.button {
  margin: 0;
  padding: 8px 10px;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: @white;
  text-align: center;
  white-space: nowrap;
  &.disabled {
    opacity: .65;
    cursor: default;
  }
}

.input {
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  background-color: @white;
  background-clip: padding-box;
  color: @gray-dark;
  &.error {
    border: 1px solid #ff0000;
  }
}

.main-button {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 65px;
  height: 65px;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  > .button-icon {
    position: relative;
    display: block;
    right: 1px;
    bottom: 1px;
    width: 40px;
    height: 40px;
    margin: auto;
    fill: @white;
  }
}

.main-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 20px;
  width: 360px;
  height: 470px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  > .header {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    color: @white;
    text-align: center;
    font-size: 17px;
    > .title {
      margin-left: 10px;
    }
    > .close-icon {
      width: 20px;
      height: 20px;
      margin-left: auto;
      cursor: pointer;
      fill: @white;
    }
  }
  > .content {
    flex: 1 1 auto;
    background-color: @white;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #efefef;
    }
    &::-webkit-scrollbar-thumb {
      background-color: @gray;
    }
  }
}

.chat {
  &.main-box {
    > .content {
      display: flex;
      flex-direction: column-reverse;
    }
    > .footer {
      flex: 0 0 45px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0px 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color: @white;
      > input {
        flex: 1 1 auto;
        margin-right: 15px;
        border: none;
        outline: none;
        background: none;
        color: #4e4e4e;
        font-size: 15px;
      }
      > .send-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        &.enabled {
          fill: @gray;
        }
        &.disabled {
          fill: @gray-light;
        }
      }
    }
  }
}

.connect-channel {
  &.main-box {
    > .header {
      > .arrow-left-icon {
        width: 20px;
        height: 20px;
        fill: @white;
        cursor: pointer;
      }
    }
    > .content {
      > .channel {
        padding: 40px 20px 40px 20px;
      }
    }
  }
}

.connect-email {
  text-align: center;
  > img {
    width: 80px;
    height: 80px;
  }
  > p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: @gray-dark;
  }
}

.messages {
  padding: 15px;
}

.balloon {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.agent-photo {
  > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.available-channel {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  vertical-align: top;
  > img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  > .connected-background {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    text-align: center;
    >.connected-icon {
      width: 9px;
      height: 15px;
      fill: @white;
    }
  }
}

.message {
  position: relative;
  > .agent-name {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 13px;
  }
  > .text {
    &::after {
      content: "\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0";
      display: inline;
    }
  }
  > .status {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
  }
}

.message-incoming {
  position: relative;
  padding-left: 55px;
  max-width: 75%;
  > .agent-photo {
    position: absolute;
    left: 0;
  }
  > .balloon {
    padding: 10px 14px;
  }
}

.message-outgoing {
  display: flex;
  justify-content: flex-end;
  > .balloon {
    max-width: 80%;
    padding: 8px 14px;
    > .message {
      color: @white;
      > .text {
        &::after {
          content: "\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0";
          display: inline;
        }
      }
      >.status {
        display: flex;
        align-items: center;
        > .status-icon {
          margin-left: 4px;
          width: 13px;
          height: 13px;
          fill: @white;
        }
      }
    }
  }
  > .retry {
    display: flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    > .retry-icon {
      width: 22px;
      height: 22px;
      fill: @gray;
    }
  }
}

.message-connect-channel {
  margin-top: 12px;
  margin-bottom: 12px;
  > .balloon {
    padding: 12px 12px;
    background-color: #f4f4f4;
    border: 1px solid #d1d1d1;
    > .message {
      color: @white;
      > .text {
        color: @gray-dark;
      }
      > .available-channels {
        margin-top: 8px;
      }
    }
  }
}

.message-unread {
  position: absolute;
  right: 15px;
  bottom: 95px;
  max-width: 330px;
  > .balloon {
    display: flex;
    padding: 12px;
    > .message {
      margin-left: 12px;
      >.close-icon {
        float: right;
        width: 14px;
        height: 14px;
        margin-left: 20px;
        cursor: pointer;
        fill: @gray;
      }
    }
  }
}

.message-incoming, .message-unread {
  > .balloon {
    border: 1px solid #d1d1d1;
    background-color: @white;
    > .message {
      > .agent-name {
        color: @gray;
      }
      > .text {
        color: @gray-dark;
      }
      > .status {
        > .status-time {
          color: @gray;
        }
      }
    }
  }
}

.message-incoming, .message-outgoing {
  margin-top: 4px;
  margin-bottom: 4px;
  &.message-discontinuation {
    margin-top: 12px;
  }
}

.container-sm, .container-xs {
  .main-box {
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
  }
}
