@white: #ffffff;
@gray: #989898;
@gray-light: #d8d8d8;
@gray-dark: #525252;

.border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.border-radius(@radius) {
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

@import "general";
@import "utils";
@import "chat";
@import "conversation";

.main-button {
  .border-radius(50%);
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 65px;
  height: 65px;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  > .button-icon {
    position: relative;
    display: block;
    right: 1px;
    bottom: 1px;
    width: 40px;
    height: 40px;
    margin: auto;
    fill: @white;
  }
}

.main-box {
  .border-radius(6px);
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 20px;
  width: 360px;
  height: calc(100% - 40px);
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  > .header {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    color: @white;
    font-size: 17px;
    > .title {
      margin-left: 10px;
    }
    > .close-icon {
      width: 20px;
      height: 20px;
      margin-left: auto;
      cursor: pointer;
      fill: @white;
    }
  }
  > .alert {
    z-index: 99999999;
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    padding: 4px 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
  }
  > .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: @white;
  }
  > .footer {
    flex: 0 0 45px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: @white;
  }
}

.main-box {
  &.without-footer {
    > .content {
      height: 450px;
    }
  }
}

.container-sm, .container-xs {
  .main-box {
    .border-radius(0px);
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border: none;
  }
}