.flex {
  display: flex !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.mt {
  margin-top: 5px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.w-100 {
  width: 100% !important;
}

.balloon {
  .border-radius(6px);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.button {
  .border-radius(4px);
  padding: 8px 10px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  color: @white;
  text-align: center;
  white-space: nowrap;
  &.disabled {
    opacity: .65;
    cursor: default;
  }
}

.input {
  .border-radius(4px);
  padding: 8px 10px;
  border: 1px solid #ced4da;
  outline: none;
  &.error {
    border: 1px solid #ff0000;
  }
}