.chatz-hide {
  display: none !important;
}
.chatz-show {
  display: block !important;
}
.chatz-clear {
  clear: both;
}
#chatz-container .chatz-button {
  background-color: #00c7a0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50%;
  position: fixed;
  outline: none;
  right: 30px;
  bottom: 30px;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
#chatz-container .chatz-chatbox {
  background-color: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  position: fixed;
  overflow: hidden;
  right: 30px;
  bottom: 30px;
  width: 340px;
  height: 75%;
}
.chatz-chatbox .chatz-header {
  background-color: #00c7a0;
  box-shadow: 0 -1px 3px rgba(0,0,0,.1);
  height: 45px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.chatz-chatbox .chatz-conversation {
  background-color: #ffffff;
  height: calc(100% - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatz-chatbox .chatz-footer {
  background-color: #ffffff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.1);
  height: 45px;
}
.chatz-compose {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  height: 100%;
}
.chatz-compose .chatz-input {
  flex: 1 1 auto;
}
.chatz-input input {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}
.chatz-messages {
  padding: 15px;
}
.chatz-message-incoming, .chatz-message-outgoing {
  margin-top: 3px;
  margin-bottom: 3px;
}
.chatz-message-incoming .chatz-message {
  background-color: #e2e2e2;
}
.chatz-message-incoming .chatz-message-text {
  margin-top: 10px;
}
.chatz-message-outgoing .chatz-message {
  background-color: #00c7a0;
  color: #ffffff;
  float: right;
}
.chatz-author-photo {
  display: inline-block;
  vertical-align: top;
}
.chatz-author-photo img {
  border-radius: 50%;
  width: 35px;
  height: auto;
  margin-right: 5px;
}
.chatz-message {
  border-radius: 5px;
  display: inline-block;
  padding: 6px 10px;
  max-width: 180px;
}