@white: #ffffff;
@gray: #989898;
@gray-light: #d8d8d8;

#ayro-container {
  @import "./fontawesome/fontawesome.less";
  @import "./fontawesome/fa-solid.less";
  @import "./fontawesome/fa-regular.less";
  i {
    font-style: normal;
  }
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .ayro-hide {
    display: none !important;
  }
  .ayro-show {
    display: block !important;
  }
  .ayro-clear {
    clear: both;
  }
  .ayro-button {
    z-index: 99999;
    position: fixed;
    box-shadow: 1px 4px 10px rgba(0,0,0,.2);
    border: none;
    border-radius: 50%;
    outline: none;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    padding: 0px;
    color: @white;
    font-size: 42px;
    cursor: pointer;
  }
  .ayro-chatbox {
    z-index: 99999;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 8px;
    right: 30px;
    bottom: 30px;
    width: 340px;
    height: 75%;
  }
}
.ayro-button {
  .ayro-fa-comment-alt {
    font-size: 36px;
  }
}
.ayro-chatbox {
  .ayro-header {
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
    height: 45px;
    padding: 0px 15px;
    color: @white;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    .ayro-close {
      margin-left: auto;
    }
    .fa {
      font-size: 20px !important;
    }
  }
  .ayro-conversation {
    display: flex;
    flex-direction: column-reverse;
    background-color: #f9f9f9;
    height: ~"calc(100% - 90px)";
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #efefef;
    }
    &::-webkit-scrollbar-thumb {
      background-color: @gray;
    }
  }
  .ayro-footer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: @white;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
    height: 45px;
    padding: 0px 15px;
    color: @gray;
    .ayro-input {
      flex: 1 1 auto;
      margin-right: 15px;
      input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 14px;
        color: #4e4e4e;
      }
    }
    .ayro-post {
      cursor: pointer;
    }
    .fa {
      font-size: 20px !important;
    }
  }
}
.ayro-post {
  &.ayro-enabled {
    color: @gray;
  }
  &.ayro-disabled {
    color: @gray-light;
  }
  .ayro-fa-paper-plane {
    font-size: 20px;
  }
}
.ayro-messages {
  padding: 15px;
}
.ayro-message {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  max-width: 200px;
  padding: 5px 8px;
  .ayro-message-text {
    font-size: 15px;
  }
  .ayro-message-status {
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-size: 11px;
    .ayro-message-time {
      margin-right: 4px;
    }
  }
}
.ayro-message-incoming, .ayro-message-outgoing {
  margin-top: 4px;
  margin-bottom: 4px;
  &.ayro-message-discontinuation {
    margin-top: 12px;
  }
  .ayro-message {
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
  }
}
.ayro-message-incoming {
  position: relative;
  .ayro-agent-photo {
    position: absolute;
    img {
      border-radius: 50%;
      width: 35px;
      height: auto;
    }
  }
  .ayro-message {
    background-color: @white;
    margin-left: 44px;
    .ayro-message-agent {
      margin-bottom: 3px;
      font-size: 13px;
      font-weight: bold;
      color: @gray;
    }
    .ayro-message-text {
      color: #525252;
      &::after {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline;
      }
    }
    .ayro-message-time {
      color: @gray;
    }
  }
}
.ayro-message-outgoing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .ayro-message {
    color: @white;
    .ayro-message-text {
      &::after {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline;
      }
    }
  }
  .ayro-message-retry {
    margin-left: 8px;
    height: 100%;
    color: @gray;
    font-size: 22px;
    cursor: pointer;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #ayro-container {
    .ayro-button {
      right: 15px;
      bottom: 15px;
    }
    .ayro-chatbox {
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
    }
  }
}